body {
  width: 400px;
  padding: 10px 10px 0 10px;
}

table,
tbody,
input {
  width: 100%;
}

td {
  width: 50%;
  padding: 6px 0;
  text-align: left;
}

#status {
  padding-top: 10px;
  height: 20px;
  font-size: 11px;
  font-weight: bold;
  color: #666;
  text-align: right;
}

.btn {
  width: 50%;
  text-shadow: none;
  border: none;
  border-radius: 2px;
  padding: 6px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

#save {
  margin: 0 0 0 50%;
  background: #689f39;
  color: #fff;
  box-shadow: none;
}

/** switch styles **/

.switch-input {
  display: none;
}
.switch-label {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 8px 0 8px 44px;
}
.switch-label:before,
.switch-label:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.switch-label:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9e9e9e;
  border-radius: 8px;
}
.switch-label:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fafafa;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
    0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-label .toggle--on {
  display: none;
}
.switch-label .toggle--off {
  display: inline-block;
}
.switch-input:checked + .switch-label:before {
  background-color: #a5d6a7;
}
.switch-input:checked + .switch-label:after {
  background-color: #4caf50;
  -ms-transform: translate(80%, -50%);
  -webkit-transform: translate(80%, -50%);
  transform: translate(80%, -50%);
}
.switch-input:checked + .switch-label .toggle--on {
  display: inline-block;
}
.switch-input:checked + .switch-label .toggle--off {
  display: none;
}

/** radio styles **/

.radio .group {
  display: flex;
  align-items: center;
}
.radio input[type="checkbox"],
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.radio label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
.radio label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid #4caf50;
  border-radius: 0.25em;
  z-index: -1;
}
.radio input[type="radio"] + label::before {
  border-radius: 1em;
}
.radio input[type="checkbox"]:checked + label,
.radio input[type="radio"]:checked + label {
  padding-left: 1em;
  color: #fff;
}
.radio input[type="checkbox"]:checked + label:before,
.radio input[type="radio"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #4caf50;
}
.radio label,
.radio label::before {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
